-# index.haml

%h2 Old fashion grid by table

%p Example Buttons that will crash the app ....

%table{ cellpadding: "10" }
  %tr
    %td
      %br
      %a{ :href => url('/button-one'), :class => "button" }
        Do ONE
    %td
      %br
      %a{ :href => url('/button-two'), :class => "button" }
        Do TWO

%p
  This is the first map

= LeafletHelper::L.place_map_here('map')

%p
  This is second map.  NOTE that the map id MUST be different! .. ought to check for that in the leafelet_helper gem.

= LeafletHelper::L.place_map_here('map2', style: "width: 400px; height: 400px")
