%html
  %body
    %h2 Sorry, Bad File Type
    %h4 Go back and try again.
    %p
      This utility program only works for Microsoft Word documents
      that are of the type 'docx' - any other file type is considered
      an error.
    %p
      Use the back arrow or the 'Back' menu item to return to the previous
      page to select a 'docx' file.
